$main-bg-color:#50806B;
$secondary-color-light: #FFF;;
$main-color-light-green: #E8EDDE;
$main-text-color-black: #343434;
$second-text-color-white:#FFF;
$third-text-color-pureBlack: #000000;


//main fonts
$main-font:'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;