.free_shipping_ad {
    display: flex;
    padding-left: 35%;

    align-items: center;
    height: 7vh;
    font-size: 1em;
    width: 100vw;
    background-color: $main-bg-color;
    color: $second-text-color-white;

    h3 {
        width: 50%;

    }

    .first {
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin-left: 22%;
    }

    .second {
        font-size: 1em;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.5px;
        margin-left: 2%;
    }
}

nav {
    height: 10vh;
    z-index: 999;
    width: 100vw;
    display: flex;
    justify-content: space-around;

    .logo {
        width: 7%;
        margin-right: 10%;
        margin-left: 7%;
    }

    .nav_bar_container {
        width: 60vw;
        display: flex;
        justify-content: space-between;
        color: $third-text-color-pureBlack;
        font-family: $secondary-font;

        ul {
            list-style: none;
            text-decoration: none;
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .seach {
        width: 20vw;
        display: flex;
        align-items: center;

        span {
            color: #979797;
            font-family: $secondary-font;
            font-size: 1em;
            margin-right: 10px;
        }

        img {
            margin-right: 10px;
        }
    }
}